body {
    font-size: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    background-color: #fff5f0;
}

.container {
    box-sizing: border-box;
    width: max(40%, 500px);
    min-height: 30vh;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    border-radius: 30px;
    position: relative;
    left: 30%;
    top: 160px;
    box-shadow: 1px 0 15px;
}

h1 {
    font-size: 3rem;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form input {
   width: 300px;
   height: 34px;
   padding-left: 10px;
   border-radius: 0 20px 20px 0;
}

form label {
    width: 40px;
    height: 40px;
    background-color: #c9a0a0;
    border-radius: 20px 0 0 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: none;
    border: 2px solid black;
}

span {
    font-size: 27px;
    font-weight: 800;
}

button {
    width: 90px;
    height: 35px;
    background-color: #c9a0a0;
    border-radius: 20px;
    font-weight: 700;
}

p {
    font-family: sans-serif;

}

a {
    text-decoration: none;
    color: #c9a0a0;
    font-family: sans-serif;
}

a:hover {
    text-decoration: underline;
}

form div.incorrect label {
    background-color: #f06272;
}

form div.incorrect input {
    border-color: #f06272;
}

#error-message {
    color: #f06272;
    margin-top: -10px
}

